<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="resetForm" class="bg-light p-4 border rounded" >
                    <div class="form-floating mb-3">
                        <input type="email" , id="email" name="email" class="form-control" placeholder="Enter the email"
                            required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Enter the new password">
                        <label for="password">New Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password1" id="password1" class="form-control"
                            placeholder=" enter the password again" required>
                        <label for="password1">Confirm Password</label>
                    </div>
                    <div class="d-grid">
                        <input type="submit" value="Reset password" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script type="module" src="scripts/resetpassword.js"></script>

</html>